
/* h1 Banner */ 

@keyframes pulsar{
    0%, 100% {opacity: 1;}
    50% {opacity: 0.2;}
}


@keyframes glow {
    0%, 100% {text-shadow:  0 0 5px #d6035b;}
    50% {text-shadow: 0 0 20px var(--fenixDarkRed);}

}

/* avatar correndo */ 

/* Animação: vai do lado esquerdo até sair do lado direito */
@keyframes correr {
    0%   { left: -150px; }

    100% { left: 110vw; }
}